In [10]:
import pandas as pd 
import matplotlib.pyplot as plt 
from datasets import load_dataset

c:\Users\Cornelius\anaconda3\envs\cornelius_project\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [11]:
dataset=load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()

In [12]:
#data cleaning
print(df)

             job_title_short  \
0       Senior Data Engineer
1               Data Analyst
2              Data Engineer
3              Data Engineer
4              Data Engineer
...                      ...
785736     Software Engineer
785737          Data Analyst
785738      Business Analyst
785739         Data Engineer
785740     Software Engineer

                                                job_title  \
0       Senior Clinical Data Engineer / Principal Clin...
1                                            Data Analyst
2       Data Engineer/Scientist/Analyst, Mid or Senior...
3       LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
4                                  Data Engineer- Sr Jobs
...                                                   ...
785736                                    DevOps Engineer
785737                                   CRM Data Analyst
785738                     Commercial Analyst - Start Now
785739  Principal Associate, Data Engineer (Remote-Eli...
785740                                 AWS System Analyst

                               job_location                    job_via  \
0                             Watertown, CT            via Work Nearby
1              Guadalajara, Jalisco, Mexico           via BeBee MÃ©xico
2                           Berlin, Germany               via LinkedIn
3                           San Antonio, TX          via Diversity.com
4                            Washington, DC         via Clearance Jobs
...                                     ...                        ...
785736                            Singapura        melalui Trabajo.org
785737                   Bad Rodach, Jerman  melalui BeBee Deutschland
785738                             Malaysia           melalui Ricebowl
785739  Newark, New Jersey, Amerika Serikat        melalui Recruit.net
785740                                India             melalui Trigyn

       job_schedule_type  job_work_from_home       search_location  \
0              Full-time               False  Texas, United States
1              Full-time               False                Mexico
2              Full-time               False               Germany
3              Full-time               False  Texas, United States
4              Full-time               False                 Sudan
...                  ...                 ...                   ...
785736   Pekerjaan tetap               False             Singapore
785737   Pekerjaan tetap               False               Germany
785738   Pekerjaan tetap               False              Malaysia
785739   Pekerjaan tetap               False                 Sudan
785740   Pekerjaan tetap               False                 India

            job_posted_date  job_no_degree_mention  job_health_insurance  \
0       2023-06-16 13:44:15                  False                 False
1       2023-01-14 13:18:07                  False                 False
2       2023-10-10 13:14:55                  False                 False
3       2023-07-04 13:01:41                   True                 False
4       2023-08-07 14:29:36                  False                 False
...                     ...                    ...                   ...
785736  2023-03-13 06:16:16                  False                 False
785737  2023-03-12 06:18:18                  False                 False
785738  2023-03-12 06:32:36                  False                 False
785739  2023-03-12 06:32:15                  False                 False
785740  2023-03-13 06:16:31                  False                 False

          job_country salary_rate  salary_year_avg  salary_hour_avg  \
0       United States        None              NaN              NaN
1              Mexico        None              NaN              NaN
2             Germany        None              NaN              NaN
3       United States        None              NaN              NaN
4               Sudan        None              NaN              NaN
...               ...         ...              ...              ...
785736      Singapore        None              NaN              NaN
785737        Germany        None              NaN              NaN
785738       Malaysia        None              NaN              NaN
785739          Sudan        None              NaN              NaN
785740          India        None              NaN              NaN

                              company_name  \
0                     Boehringer Ingelheim
1               Hewlett Packard Enterprise
2                 ALPHA Augmented Services
3             Southwest Research Institute
4                          Kristina Daniel
...                                    ...
785736  CAREERSTAR INTERNATIONAL PTE. LTD.
785737                    HABA FAMILYGROUP
785738               Lendlease Corporation
785739                         Capital One
785740                              Trigyn

                                               job_skills  \
0                                                    None
1       ['r', 'python', 'sql', 'nosql', 'power bi', 't...
2       ['python', 'sql', 'c#', 'azure', 'airflow', 'd...
3       ['python', 'c++', 'java', 'matlab', 'aws', 'te...
4       ['bash', 'python', 'oracle', 'aws', 'ansible',...
...                                                   ...
785736  ['bash', 'python', 'perl', 'linux', 'unix', 'k...
785737                     ['sas', 'sas', 'sql', 'excel']
785738                            ['powerpoint', 'excel']
785739  ['python', 'go', 'nosql', 'sql', 'mongo', 'she...
785740                                    ['aws', 'flow']

                                          job_type_skills
0                                                    None
1       {'analyst_tools': ['power bi', 'tableau'], 'pr...
2       {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3       {'cloud': ['aws'], 'libraries': ['tensorflow',...
4       {'cloud': ['oracle', 'aws'], 'other': ['ansibl...
...                                                   ...
785736  {'os': ['linux', 'unix'], 'other': ['kubernete...
785737  {'analyst_tools': ['sas', 'excel'], 'programmi...
785738         {'analyst_tools': ['powerpoint', 'excel']}
785739  {'cloud': ['aws', 'snowflake', 'azure', 'redsh...
785740              {'cloud': ['aws'], 'other': ['flow']}

[785741 rows x 17 columns]

In [7]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [13]:
df["job_posted_date"]=pd.to_datetime(df['job_posted_date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [13]:
df.iloc[0:10,0]

0    Senior Data Engineer
1            Data Analyst
2           Data Engineer
3           Data Engineer
4           Data Engineer
5           Data Engineer
6    Senior Data Engineer
7           Data Engineer
8        Business Analyst
9          Data Scientist
Name: job_title_short, dtype: object

In [14]:
df.loc[0:10]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
5,Data Engineer,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59,False,False,United States,None,NaN,NaN,smart folks inc,"['python', 'sql', 'gcp']","{'cloud': ['gcp'], 'programming': ['python', '..."
6,Senior Data Engineer,Senior Data Engineer - GCP Cloud,"Dearborn, MI",via LinkedIn,Full-time,False,"Florida, United States",2023-03-27 13:18:18,False,False,United States,None,NaN,NaN,"Miracle Software Systems, Inc","['sql', 'python', 'java', 'sql server', 'gcp',...","{'cloud': ['gcp', 'bigquery'], 'databases': ['..."
7,Data Engineer,Data Engineer,Anywhere,via LinkedIn,Full-time,True,Romania,2023-12-07 13:40:49,False,False,Romania,None,NaN,NaN,Zitec,"['sql', 'nosql', 'gcp', 'azure', 'aws', 'bigqu...","{'cloud': ['gcp', 'azure', 'aws', 'bigquery', ..."
8,Business Analyst,Technology & Operations Business Analyst,"Copenhagen, Denmark",via Trabajo.org,Full-time,False,Denmark,2023-06-05 13:44:34,False,False,Denmark,None,NaN,NaN,Hempel,"['excel', 'powerpoint', 'power bi']","{'analyst_tools': ['excel', 'powerpoint', 'pow..."
9,Data Scientist,Data Scientist II,Anywhere,via ZipRecruiter,Full-time,True,"New York, United States",2023-04-23 13:02:57,False,False,United States,None,NaN,NaN,"Radwell International, LLC","['sql', 'python', 'r', 'mongodb', 'mongodb', '...","{'analyst_tools': ['excel'], 'cloud': ['azure'..."
10,Data Engineer,Erfahrene*r Data Engineer*in (m/w/d),"Basel, Switzerland",via LinkedIn,Full-time,False,Switzerland,2023-04-17 13:27:32,True,False,Switzerland,None,NaN,NaN,ROCKENÂ®,"['python', 'databricks', 'azure', 'spark']","{'cloud': ['databricks', 'azure'], 'libraries'..."

In [2]:
!pip install jupyter

Requirement already satisfied: jupyter in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (1.0.0)
Requirement already satisfied: notebook in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter) (7.2.1)
Requirement already satisfied: qtconsole in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter) (5.5.2)
Requirement already satisfied: jupyter-console in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter) (6.6.3)
Requirement already satisfied: nbconvert in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter) (7.16.4)
Requirement already satisfied: ipykernel in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter) (6.29.5)
Requirement already satisfied: ipywidgets in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter) (8.1.3)
Requirement already satisfied: comm>=0.1.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (1.8.5)
Requirement already satisfied: ipython>=7.23.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (8.26.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (8.6.2)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (0.1.7)
Requirement already satisfied: nest-asyncio in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (1.6.0)
Requirement already satisfied: packaging in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (24.1)
Requirement already satisfied: psutil in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (6.0.0)
Requirement already satisfied: pyzmq>=24 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (26.1.0)
Requirement already satisfied: tornado>=6.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (6.4.1)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipykernel->jupyter) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.11 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets->jupyter) (4.0.11)
Requirement already satisfied: jupyterlab-widgets~=3.0.11 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets->jupyter) (3.0.11)
Requirement already satisfied: prompt-toolkit>=3.0.30 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-console->jupyter) (3.0.47)
Requirement already satisfied: pygments in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-console->jupyter) (2.18.0)
Requirement already satisfied: beautifulsoup4 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (6.1.0)
Requirement already satisfied: defusedxml in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (3.1.4)
Requirement already satisfied: jupyterlab-pygments in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (2.1.5)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (1.5.1)
Requirement already satisfied: tinycss2 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbconvert->jupyter) (1.3.0)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from notebook->jupyter) (2.14.2)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from notebook->jupyter) (2.27.3)
Requirement already satisfied: jupyterlab<4.3,>=4.2.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from notebook->jupyter) (4.2.4)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from notebook->jupyter) (0.2.4)
Requirement already satisfied: qtpy>=2.4.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from qtconsole->jupyter) (2.4.1)
Requirement already satisfied: six>=1.9.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from bleach!=5.0.0->nbconvert->jupyter) (1.16.0)
Requirement already satisfied: webencodings in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from bleach!=5.0.0->nbconvert->jupyter) (0.5.1)
Requirement already satisfied: decorator in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.19.1)
Requirement already satisfied: stack-data in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.6.3)
Requirement already satisfied: exceptiongroup in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (1.2.2)
Requirement already satisfied: typing-extensions>=4.6 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (4.12.2)
Requirement already satisfied: colorama in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter) (4.2.2)
Requirement already satisfied: pywin32>=300 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter) (306)
Requirement already satisfied: anyio>=3.1.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (4.4.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (23.1.0)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.5.3)
Requirement already satisfied: overrides>=5.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (7.7.0)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.20.0)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (2.0.13)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook->jupyter) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook->jupyter) (0.27.0)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook->jupyter) (2.2.5)
Requirement already satisfied: setuptools>=40.1.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook->jupyter) (63.2.0)
Requirement already satisfied: tomli>=1.2.2 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook->jupyter) (2.0.1)
Requirement already satisfied: babel>=2.10 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook->jupyter) (2.16.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook->jupyter) (0.9.25)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook->jupyter) (4.23.0)
Requirement already satisfied: requests>=2.31 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook->jupyter) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from nbformat>=5.7->nbconvert->jupyter) (2.20.0)
Requirement already satisfied: wcwidth in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit>=3.0.30->jupyter-console->jupyter) (0.2.13)
Requirement already satisfied: soupsieve>1.2 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4->nbconvert->jupyter) (2.6)
Requirement already satisfied: idna>=2.8 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (3.7)
Requirement already satisfied: sniffio>=1.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.3.1)
Requirement already satisfied: argon2-cffi-bindings in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook->jupyter) (21.2.0)
Requirement already satisfied: certifi in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook->jupyter) (2024.7.4)
Requirement already satisfied: httpcore==1.* in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook->jupyter) (1.0.5)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook->jupyter) (0.14.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook->jupyter) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook->jupyter) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook->jupyter) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook->jupyter) (0.20.0)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (6.0.2)
Requirement already satisfied: rfc3339-validator in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook->jupyter) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook->jupyter) (2.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (0.2.3)
Requirement already satisfied: fqdn in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.5.1)
Requirement already satisfied: isoduration in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (3.0.0)
Requirement already satisfied: uri-template in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (24.8.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.17.0)
Requirement already satisfied: pycparser in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.22)
Requirement already satisfied: arrow>=0.15.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.3.0)
Requirement already satisfied: types-python-dateutil>=2.8.10 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.9.0.20240316)

In [15]:
!pip install ipywidgets

Requirement already satisfied: ipywidgets in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (8.1.3)
Requirement already satisfied: comm>=0.1.3 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (8.26.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.11 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (4.0.11)
Requirement already satisfied: jupyterlab-widgets~=3.0.11 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (3.0.11)
Requirement already satisfied: decorator in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (2.18.0)
Requirement already satisfied: stack-data in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: exceptiongroup in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (1.2.2)
Requirement already satisfied: typing-extensions>=4.6 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (4.12.2)
Requirement already satisfied: colorama in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.3)
Requirement already satisfied: six>=1.12.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)

In [4]:
!pip install ipywidget

ERROR: Could not find a version that satisfies the requirement ipywidget (from versions: none)
ERROR: No matching distribution found for ipywidget

In [5]:
conda install ipywidget

error: incomplete escape \U at position 28

In [6]:
!PIP INSTALL ipywidget

ERROR: unknown command "INSTALL" - maybe you meant "install"

In [8]:
!pip install ipywidgets

Requirement already satisfied: ipywidgets in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (8.1.3)
Requirement already satisfied: comm>=0.1.3 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (8.26.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.11 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (4.0.11)
Requirement already satisfied: jupyterlab-widgets~=3.0.11 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets) (3.0.11)
Requirement already satisfied: decorator in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (2.18.0)
Requirement already satisfied: stack-data in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: exceptiongroup in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (1.2.2)
Requirement already satisfied: typing-extensions>=4.6 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (4.12.2)
Requirement already satisfied: colorama in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.3)
Requirement already satisfied: six>=1.12.0 in c:\users\cornelius\appdata\local\programs\python\python310\lib\site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)

In [26]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [27]:
df.loc[:, 'salary_rate':'salary_hour_avg'].dropna(subset='salary_rate')

       salary_rate  salary_year_avg  salary_hour_avg
28            year         109500.0              NaN
43            hour              NaN             97.5
51            hour              NaN             72.5
77            year         140000.0              NaN
92            year         120000.0              NaN
...            ...              ...              ...
785624        year         139216.0              NaN
785641        year         150000.0              NaN
785648        year         221875.0              NaN
785682        year         157500.0              NaN
785692        year         157500.0              NaN

[33067 rows x 3 columns]

In [34]:
median_salary_year=df['salary_year_avg'].median()

In [35]:
median_salary_hour=df['salary_hour_avg'].median()

In [46]:
df_filled=df

In [49]:
df_filled['salary_year_avg']=df_filled['salary_year_avg'].fillna(median_salary_year)

In [50]:
df_filled['salary_hour_avg']=df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [52]:
df_filled.loc[:,"salary_year_avg":"salary_hour_avg"]

        salary_year_avg  salary_hour_avg
0              115000.0            45.98
1              115000.0            45.98
2              115000.0            45.98
3              115000.0            45.98
4              115000.0            45.98
...                 ...              ...
785736         115000.0            45.98
785737         115000.0            45.98
785738         115000.0            45.98
785739         115000.0            45.98
785740         115000.0            45.98

[785741 rows x 2 columns]

In [59]:
df_unique=df_filled
df_unique=df_unique.drop_duplicates()
print('Row Dropped:'  ,len(df_filled)-len(df_unique))

Row Dropped: 101

In [62]:
df_unique=df_unique.drop_duplicates(subset=["job_title",'company_name'])
print('Row Dropped:'  ,len(df_filled)-len(df_unique))

Row Dropped: 277699

In [63]:
df_unique

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,115000.0,45.98,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,115000.0,45.98,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,115000.0,45.98,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,115000.0,45.98,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,115000.0,45.98,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785735,Senior Data Engineer,Senior Data Engineer,"Berlin, Jerman",melalui Top County Careers,Pekerjaan tetap,False,Germany,2023-03-13 06:19:07,False,False,Germany,None,115000.0,45.98,Pure App,"['sql', 'python', 'bigquery', 'aws', 'airflow'...","{'cloud': ['bigquery', 'aws'], 'libraries': ['..."
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,115000.0,45.98,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,115000.0,45.98,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,115000.0,45.98,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,115000.0,45.98,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"